@font-face {
    font-family: 'HackLocal';
    src: url('Hack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'HackLocal', monospace !important;
}

.input {
    height: 26px;
    padding: 5px;
    background-color: white;
}

.main-box {
    position: relative;
    border: 3px solid #333333;
    background-color: whitesmoke;
    padding: 10px;
    width: 700px;
    height: 300px;

    margin-left: auto;
    margin-right: auto;
}
body {
    background-size: 100%;
    background-image: url('stars.webp');
}

.login-button,
.singin-button {
    background-color: rgb(195, 195, 227);
}

.login-button:hover,
.singin-button:hover {
    background-color: rgb(99, 99, 152);
    color: white;
}

.error-message {
    position: absolute;
    top: 20%;
    left: 11%;
    transform: translateX(-50%);

    font-size: 15px;

    color: red;
    z-index: 5;
}
