<!DOCTYPE html>
<html>
<head>
    <title>CurrencyCare_LogIn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signin_screen_style.css') }}">
    <script src="{{ url_for('static', filename='signin_screen_script.js') }}" defer></script>
</head>

<body>
<div class="main-box" id="mainBox">
    <div>
 <h1>Sign In</h1>

        {% if registerMessage %}
            <p>{{ registerMessage }}</p>
        {% endif %}

        <form id="signinForm" method="POST">
            <input class="input" type="email" id="email" placeholder="email" reqiored>
            <br/>
            <br/>
            <input class="input" type="text" id="username" placeholder="Username" required>
            <br/>
            <br/>
            <input class="input" type="password" id="password" placeholder="Password" required>
            <br/>
            <br/>
            <button class="sign-up-button" type="submit">Sign Up</button>
        </form>
    </div>
</div>

</body>

</html>
